body {
    background-color: #eceef1;
    text-align: center;
    
}
nav {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    right: 3%;
    height: 34px;
}

.forgot-pass{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #505050;
    font-size: 12px;
    position: relative;
    right: 1%;
    text-align: center;
    width: 180px;   
}

.forgot-pass a {
    position: relative;
    top: -10px;
    color: #0077c5;
    text-decoration: none;
}


nav button {
    width: 102.54px;
    height: 34px;
    background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;

    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

nav .inside-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 

    position: relative;
    top: -11px;
}

nav .inside-button svg {
    width: 20%;

}








main img {
    width: 250px;
}


.main-form {
    
   display: grid;
   
  
}
.create-account{
    display: block;
    padding-top: 10%;
}

.create-account button {
    background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    font-weight: normal;
    text-align: right;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.create-account .inside-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account .inside-button svg{
    width: 8%;
}

.create-account .inside-button p{
    color: white;
}

.fieldset-div {

    margin: 0 auto;

}
fieldset{
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
}
.center-form{
    text-align: center;
    margin: 12px;

}

.center-form a{
    color: #0077c5;
    text-decoration: none;
}

.special-div{
    width: 100%;
    margin: 0 auto;
}

.input-class {
    width: 100%;

}

.input-class input {
    width: 100%;
    height: 34px;  
    border-radius: 3px; 
    border: 1px solid #c1c5c8;
}


label {
    text-align: left;
    font-weight: 400;
    color: #404040;
    font-size: 14px;

}
fieldset p{
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
}
fieldset h2{
    color: #4c4c4c;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.recaptcha{
    background-color: #eceef1;
    height: 70px;
}
.recaptcha p{
    font-size: 12px;
}
.recaptcha a{
    color: #0077c5;
    text-decoration: none;
}

footer {
    display: block;
}
footer a{
    text-decoration: none;
    color: black;
}