body {
    background-color: #eceef1;
    text-align: center;
    
    
}
nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    right: 3%;
}

nav button {
    background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    font-weight: normal;
    text-align: right;
    margin-left: 10px;
}
.forgot-pass{
    
}

main img {
    width: 20%;
}



main fieldset {
    background-color: #ffffff;
    width: 380px;
    padding: 30px;
    align-content: center;
    position: relative;
    left: 33%;
    
    
}
.create-account{
    display: block;
    padding-top: 10%;
}

.create-account button {
    background-color: #0077c5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    font-weight: normal;
    text-align: right;
    margin-left: 10px;
    width: 40%;
}
fieldset input{
    width: 320px;
    height: 34px;
}
label p{
    text-align: left;
    font-weight: 400;
    color: #404040;
    font-size: 14px;
    line-height: 25px;
}
fieldset p{
    color: #4c4c4c;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
}
fieldset h2{
    color: #4c4c4c;
    font-weight: 400;
    line-height: 1.1;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
footer a{
    text-decoration: none;
    color: black;
}